<p id="notice"><%= notice %></p>

<h3>Editing Question</h3>

<%= render 'form' %>
<br><br>
<div class="btn-group">
  <%= link_to 'Show', category_question_path( @question.category.id, @question.id), class: "btn btn-primary" %>
  <%= link_to 'Back', category_questions_path(@question.category.id, @question.id), class: "btn btn-primary" %>
</div>
