<div class="row header-container">
  <a href="<%= root_path %>">
  <div class="col-md-4">
    <p class="header-title"><span class="text-line1">Disney Trivia</span>
      <br>
    </p></a>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <ul class="nb-list nb-item">
      <li><%= link_to 'Home', root_path, :class => "nb-item" %></li>
      <li><%= link_to 'Categories', categories_path, :class => "nb-item" %></li>
    </ul>
  </div>
</div>
